@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

/*  */
.container {
  max-width: 1440px;
  padding-left: 5rem; /* Default padding for intermediate screen sizes */
  padding-right: 5rem; /* Default padding for intermediate screen sizes */
}

/* Extra Small Devices (Phones) */
@media (max-width: 374px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Small Devices (Phones) */
@media (min-width: 375px) and (max-width: 767px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* Large Devices (Laptops) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1440px) {
  .container {
    padding-left: 9.5rem;
    padding-right: 9.5rem;
  }
}
